<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar Pessoa</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Criar Pessoa</h1>
    
    <form method="post" action="/pessoas">
        <div>
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required="required">
        </div>
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required="required">
        </div>
        <div>
            <label for="estado">Estado:</label>
            <input type="text" id="estado" name="estado" required="required">
        </div>
        <div>
            <button type="submit">Salvar</button>
        </div>
    </form>
</body>
</html>