
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Minha Página</title>
</head>
<body>
    <header>
        <div class="dropdown">
            <a href="#automovel" class="links">Automóvel</a>
            <div class="dropdown-content">
                <a href="/automoveis">Criar</a>
                <a href="/automoveis/listar">Ver Todos</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#pessoa" class="links">Pessoa</a>
            <div class="dropdown-content">
                <a href="/pessoas">Criar</a>
                <a href="/pessoas/listar">Ver Todos</a>
            </div>
        </div>
    </header>
</body>
</html>
