
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Minha Página</title>
</head>
<body>
    <header>
        <div class="dropdown">
            <a class="links">Automóvel</a>
            <div class="dropdown-content">
                <a href="/automoveis/create">Adicionar</a>
                <a href="/automoveis">Ver Meus Automóveis</a>
                <a href="/automoveis/listar">Ver Todos</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="links">Usuário</a>
            <div class="dropdown-content">
                <a href="/pessoas">Minha Conta</a>
                <a href="/account/logout">Sair</a>
            </div>
        </div>
    </header>
</body>
</html>
