<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhes dos Veículos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>
    <h1>Detalhes dos Veículos</h1>
    
    <table class="table-with-spacing">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="automovel : ${automoveis}">
                <td th:text="${automovel.placa}"></td>
                <td th:text="${automovel.veiculo}"></td>
                <td>
                    <a th:href="@{'/automoveis/edit/' + ${automovel.id}}">Edit</a>
                    <a th:href="@{'/automoveis/delete/' + ${automovel.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>